a{
	text-decoration: none;
}

/* Header */
.header__wrapper {
	margin: 0 auto;
	max-width: 1140px;
	display: flex;
	height: 75px;
	justify-content: space-between;
}
.header {
	background-color: #222222;
}
.header__left {
	padding-top: 18px;
}
.header__left-cont{
	display: flex;
	align-items: flex-end;
	gap: 41px;
}
.header__right {
	display: flex;
	align-items: center;
	gap: 33px;
	padding-top: 4px;
}

/* Intro */
.intro-bg {
	background-color: #F1E4E6;
	max-height: 764px;
}
.intro {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1140px;
}
.title {
	font-family: Lato;
	max-width: 377px;
	max-height: 93px;
	font-weight: 900;
	font-size: 48px;
	color: #222;
	padding-left: 16px;
	margin: 290px 100px 0 0;
	border-left: 12px solid #F16D7F;
}
.title_little {
	font-weight: 700;
	font-size: 32px;
	white-space: nowrap;
}
.colored{
	color: #F16D7F;
}

/* Assortment */
.assortment {
	margin: 65px auto 0 auto;
	max-width: 1140px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 260px 180px;
	gap: 30px;
}
.assortment__item {
	position: relative;
	font-family: Lato;
	max-height: 260px;
	display: flex;
	gap: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.assortment__item img{
	max-width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}
.assortment__subtitle {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
.assortment__title {
	font-weight: 700;
	font-size: 24px;
	color: #f16d7f;
}
.accesories {
	grid-column: 1/4;
}

/* Products */
.products__title {
	margin-top: 96px;
	padding-bottom: 6px;
	text-align: center;
	color: #222222;
	font-size: 30px;
	font-weight: 400;
}
.products__subtitle {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	color: #9f9f9f;
	margin-bottom: 48px;
}
.products {
	font-family: Lato;
	max-width: 1140px;
	margin: 0 auto;
}
.products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	column-gap: 30px;
	row-gap: 25px;
}
.products__item {
	position: relative;
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.products__image {
	cursor: pointer;
	transition: 0.3s ease-out;
}
.overlay {
	cursor: pointer;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
	font-size: 14px;
	color: #E8E8E8;
	padding: 10px 15px;
	border: 1px solid #E8E8E8;
	display: flex;
	align-items: center;
	gap: 6px;
	opacity: 0;
	transition: 0.3s ease-out;
}
.products__item:hover .overlay{
	opacity: 1;
}
.products__item:hover .products__image{
	filter: brightness(50%) blur(1px);
}

.products__heading {
	padding-left: 16px;
	font-weight: 400;
	font-size: 13px;
	color: #000;
}
.products__text {
	padding-right: 30px;
	padding-left: 16px;
	font-weight: 300;
	font-size: 14px;
	color: #5d5d5d;
}
.products__price {
	padding-left: 16px;
	padding-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	color: #f16d7f;
}
.browse-btn {
	display: block;
	margin: 49px auto 61px auto;
	background: transparent;
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
	color: #f26376;
	border: 1px solid #ff6a6a;
	padding: 15px 39px;
	transition: 0.3s ease-out;
}
.browse-btn:hover{
	background-color: #FF6A6A;
	color: #F8F8F8;
}

/* Media*/
@media (max-width: 1024px){
	/* Header */
	.header__wrapper{
		padding: 0 32px;
	}

	/* Intro */
	.intro-bg{
		max-height: 368px;
	}
	.intro{
		justify-content: space-between;
	}
	.intro img{
		max-width: 191px;
		max-height: 368px;
		margin-left: 107px;
	}
	.title{
		font-size: 44px;
		max-width: 311px;
		margin: 138px 32px 0 0;
	}
	.title_little{
		font-size: 24px;
	}

	/* Accesoires */
	.assortment{
		padding: 0 16px;
		grid-template-rows: 167px 116px;
		gap: 19px;
	}
	.assortment__item {
		overflow: hidden;
	}

	/* Products */
	.products{
		padding: 0 16px;
	}
	.products__heading{
		font-size: 13px;
	}
	.products__text{
		
	}
	.products-grid {
		row-gap: 16px;
		column-gap: 16px;
	}
	.browse-btn{
		margin: 32px auto 70px auto;
	}
}
